<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Forum</title>
</head>
<body background="http://2.bp.blogspot.com/-BsL9gRE80Ug/U0OgeWbbxtI/AAAAAAAAF-w/teXrzw-TBcU/s1600/nacre-background-tile.jpg">
	<h1>Forum</h1>
	<table>
		<tr>
   			<th><a th:href="@{/new_topic}">Dodaj nowy temat</a></th>
			<th><a href="javascript:clearAndRedirect('http://localhost:8080/')">Wyloguj</a></th>
 	   </tr>
  </table>
  <b>------------------------------------------------------------------- </b>
	<table class="table table-striped" border="1">
  <tr>
   <th>Temat</th>
	<th>Data</th>
	<th>Autor</th>
  </tr>
  <tr th:each="topic,iterStat : ${list}">
    <td><a th:href="@{/topic(id=${topic.id})}"><p th:text="${topic.name}" /></a></td>
    <td th:text="${topic.date}"></td>
    <td th:text="${topic.author}"></td>
  </tr>
  <table>
	  	<b>------------------------------------------------------------------- </b>
	  	<br><a th:href="@{/new_topic}">Dodaj nowy temat</a></br>
	  	<a href="javascript:clearAndRedirect('http://localhost:8080/')">Wyloguj</a>	
  </table>
</table>
<br />

<script type="text/javascript">
function deleteAllCookies()
{
    var cookies = document.cookie.split(";");
        var cookie = cookies[0];
        var eqPos = cookie.indexOf("=");
        var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
        document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
}

function clearAndRedirect(link) {
    deleteAllCookies();
    document.location = link;
}

</script>
</body>
</html>

