<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Forum - Rejestracja</title>
</head>
<body>
	<h1>Rejestracja</h1>
	<p th:text="${error != null}?'Error: ' + ${error}" />
	<form action="#" th:action="@{/register}" th:object="${user}" method="post">
		<p>Login: <input type="text" th:field="*{login}" required="required" /></p>
		<p>Hasło: <input type="password" th:field="*{password}" required="required" /></p>
		<p><input type="submit" value="Zatwierdź" /> <input type="reset" value="Reset" /></p>
	</form>
</body>
</html>